<a href="https://colab.research.google.com/github/Rui-moment/skills-introduction-to-github/blob/main/%E5%AD%A6%E7%BF%92%E7%94%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('　　夏')
print('　兵曹')
print('夢ども')
print('のも')
print('あが')

　　夏
　兵曹
夢ども
のも
あが

# 新しいセクション

In [ ]:
 a = 20
 b = 10
 print(f'{a}+ {b}= {a + b}')

 print(1000000 * 1.01 ** 5)

20+ 10= 30
1051010.0501

In [ ]:
s = 0
for n in range(1, 101):
    s += n
print(f'合計={s:d}')

n = 4
p = 1
for i in range (n):
    p *= 2
print(f'{n}の階乗={p:d}')

合計=5050
4の階乗=16

In [ ]:
for i in range(3):
    result =''
    for j in range(10):
        result += '*'
    print(result)

########
for i in range (1,10):
    for j in range(1,10):
        print(f'{i*j :4d}',end='')
    print()

**********
**********
**********
   1   2   3   4   5   6   7   8   9
   2   4   6   8  10  12  14  16  18
   3   6   9  12  15  18  21  24  27
   4   8  12  16  20  24  28  32  36
   5  10  15  20  25  30  35  40  45
   6  12  18  24  30  36  42  48  54
   7  14  21  28  35  42  49  56  63
   8  16  24  32  40  48  56  64  72
   9  18  27  36  45  54  63  72  81

In [ ]:

age = 19
if age < 18:
    print('未成年')
else:
    print('成人')

score = 80
if score >=60:
    print('OK')
else:
    print('NG')

###########

score = 80
if score  < 60:
    print('NG)')
elif score < 80:
    print('OK')
else :
    print('Perfect')

成人
OK
Perfect

In [ ]:
s= 0
money = 1
day = 0
while s < 1000000:
    s += money
    money *= 2
    day += 1
print(f'{day:d}日:{s:d}円')

for day in range (1,31):
    s += money
    print(f'{day:d}日:{s:d}円')
    money *=2

20日:1048575円
1日:2097151円
2日:4194303円
3日:8388607円
4日:16777215円
5日:33554431円
6日:67108863円
7日:134217727円
8日:268435455円
9日:536870911円
10日:1073741823円
11日:2147483647円
12日:4294967295円
13日:8589934591円
14日:17179869183円
15日:34359738367円
16日:68719476735円
17日:137438953471円
18日:274877906943円
19日:549755813887円
20日:1099511627775円
21日:2199023255551円
22日:4398046511103円
23日:8796093022207円
24日:17592186044415円
25日:35184372088831円
26日:70368744177663円
27日:140737488355327円
28日:281474976710655円
29日:562949953421311円
30日:1125899906842623円

In [ ]:
m =[0 for i in range(100)]

len(m)
##########

girl = ['a', 'b', 'c', 'd', 'e']
age = [16, 17, 20, 21, 18]
for i in range(len(girl)):
    if age[i] < 18:
        print(f'{girl[i]}さんは未成年です')
    else:
        print(f'{girl[i]}さんは成人です')
##########

#BMI = w/h**2


girl = ['a', 'b', 'c', 'd', 'e']
w = [42, 56, 45, 61, 50]
h = [1.6, 1.65, 1.68, 1.53, 1.55]
for i in range(len(girl)):
    bmi  = w[i] / h[i] ** 2
    if bmi < 18.5:
        judge = '(低体重)'
    elif bmi < 25:
        judge = '(標準)'
    else:
        judge = '(肥満)'
    print(f'{girl[i]:s}のBMIは{bmi:.1f}で{judge}')

aさんは未成年です
bさんは未成年です
cさんは成人です
dさんは成人です
eさんは成人です
aのBMIは16.4で(低体重)
bのBMIは20.6で(標準)
cのBMIは15.9で(低体重)
dのBMIは26.1で(肥満)
eのBMIは20.8で(標準)

In [ ]:
print(3/2)
print(3.0/2)
print(3//2)

name = 'rui'
age = 22
msg = name + str(age)
print(msg)

girl = ['ann', 'lisa', 'nancy', 'amica']
for i in girl:
    if i[0] =='a':
        print(i)

girl = ['あやせ', 'さとう', 'かさい', 'いまい']
print('あ行')
for g in girl:
    if 'あ' <= g[0] and g[0] <= 'お':
        print(g)

1.5
1.5
1
rui22
ann
amica
あ行
あやせ
いまい

In [ ]:
import math
for x  in range (0, 91, 10):
    print(f'{x:2d}°:{math.sin(math.radians(x)):f}')
print('      sin      cos')
for x in range (0, 91, 10):
    si = math.sin(math.radians(x))
    co = math.cos(math.radians(x))
    print(f'{x:2d}°:{si:f} {co:f}')

 0°:0.000000
10°:0.173648
20°:0.342020
30°:0.500000
40°:0.642788
50°:0.766044
60°:0.866025
70°:0.939693
80°:0.984808
90°:1.000000
      sin      cos
 0°:0.000000 1.000000
10°:0.173648 0.984808
20°:0.342020 0.939693
30°:0.500000 0.866025
40°:0.642788 0.766044
50°:0.766044 0.642788
60°:0.866025 0.500000
70°:0.939693 0.342020
80°:0.984808 0.173648
90°:1.000000 0.000000

In [ ]:
def mymax(a, b):
    if a > b:
        return(a)
    else:
        return(b)


print(mymax(10, 20))

def func1():
    a = 1
    print(a)

def func2():
    a = 2
    print(a)

func1()
func2()

20
1
2

In [ ]:
N = 1
def func1():
    N = 10
    print(N)

def func2():
    global N
    N += 1
    print(N)

func1()
func2()

10
2

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def disp(self):
        print(f'name ={self.name:s},age = {self.age:d}')

person = [Person('taro', 18), Person('jiro', 21), Person('itiro', 17)]
person.disp()

AttributeError: 'list' object has no attribute 'disp'

In [ ]:
for i in range(-10, 11, 2):
    x = i / 10
    print(x, ',', end='')

#########
for i in range(-10, 11, 2):
    x = i / 10
    print(x, ',', end='')

#########
for i in range(26):
    c = chr(ord('a') + i)
    print(c, ',', end='')

-1.0 ,-0.8 ,-0.6 ,-0.4 ,-0.2 ,0.0 ,0.2 ,0.4 ,0.6 ,0.8 ,1.0 ,-1.0 ,-0.8 ,-0.6 ,-0.4 ,-0.2 ,0.0 ,0.2 ,0.4 ,0.6 ,0.8 ,1.0 ,a ,b ,c ,d ,e ,f ,g ,h ,i ,j ,k ,l ,m ,n ,o ,p ,q ,r ,s ,t ,u ,v ,w ,x ,y ,z ,

In [ ]:
a = 2
b = 3
a, b = b, a
print(a)
print(b)

3
2

In [ ]:
sign, s = 1, 0
for i in range(1, 6):
    s += sign * i**2
    sign = -sign
    print(s)

1
-3
6
-10
15

In [ ]:
s = 0.1 + 0.1 + 0.1
if s == 0.3:
    print('ok')
else:
     print('no')

no

In [ ]:
for a in range(2):
    for b in range(2):
        c = a & b
        print(a, b, c)

0 0 0
0 1 0
1 0 0
1 1 1

In [ ]:
for a in range(2):
    for b in range(2):
        s = a ^ b
        c = a & b
        print(a, b, s, c)

0 0 0 0
0 1 1 0
1 0 1 0
1 1 0 1

In [ ]:
x = [0, 1, 0, 1, 0, 1, 0, 1]
y = [0, 0, 0, 0, 1, 1, 1, 1]
bar = ('_', '‾')

abar = bbar = cbar = ''
for i in range(len(x)):
    a = x[i]
    b = y[i]
    c = a & b

    abar += bar[a]
    bbar += bar[b]
    cbar += bar[c]
print(abar)
print(bbar)
print(cbar)

print(a)
print(b)
print(c)

_‾_‾_‾_‾
____‾‾‾‾
_____‾_‾
1
1
1

In [ ]:
fruit = 'apple'
for i in range(len(fruit)):
    print(fruit[:len(fruit) - i])

apple
appl
app
ap
a

In [ ]:
text = 'This is a pen'
n = text.count('is')
print(n)

text = ' to be , or not to be , that is the question.'
for i in range(26):
    alpha = chr(i + 97)
    n = text.count(alpha)
    print(f'{alpha:s}:{n:2d}')

2
a: 1
b: 2
c: 0
d: 0
e: 4
f: 0
g: 0
h: 2
i: 2
j: 0
k: 0
l: 0
m: 0
n: 2
o: 5
p: 0
q: 1
r: 1
s: 2
t: 7
u: 1
v: 0
w: 0
x: 0
y: 0
z: 0

In [ ]:
text = 'this is a pen.that is a pencil.'
key = 'pen'
p=0
while True:
    p = text.find(key, p)
    if p == -1:
        break
    print(text[p:])
    p += 1

In [ ]:
word = ['apple', 'orange', 'banana',]
print(word)

word.append('strawberry')
print(word)

['apple', 'orange', 'banana']
['apple', 'orange', 'banana', 'strawberry']

In [ ]:
word = ['apple', 'orange', 'banana']
n = word.index('banana')
print(n)

##########
girl = ['Ann', 'Lisa', 'Rolla']
key = 'Lisa'
ins = 'Nancy'

if key in girl:
    i = girl.index(key)
    girl.insert(i, ins)
    print(girl)
else:
    print('見つかりません')

if key in girl:
    girl.remove(key)
print(girl)
del girl[1]
print(girl)

2
['Ann', 'Nancy', 'Lisa', 'Rolla']
['Ann', 'Nancy', 'Rolla']
['Ann', 'Rolla']

In [ ]:
text = 'abcd'
Ls = list(text)
print(Ls)
text = ''.join(Ls)
print(text)

######
text = 'a??le'
Ls = list(text)
for i in range(len(Ls)):
    if Ls[i] == '?':
        Ls[i] = 'p'
newtext = ''.join(Ls)
print(newtext)
print(text)

['a', 'b', 'c', 'd']
abcd
apple
a??le

In [ ]:
class Person:                                 #ボールの設計図
    def __init__(self, kanji, yomi, age):
        self.kanji = kanji
        self.yomi = yomi
        self.age = age


person = [Person('河西', 'かさい', 17),       #箱にボールを入れる, person = 変数
          Person('綾瀬', 'あやせ', 21)]

print('あ行')
for i in person:
    if 'あ' <= p.kanji[0] and p.kanji[0] <= 'お':
        print(p.kanji)

あ行

In [ ]:
class Person:
    def __init__(self, kanji, yomi, age):
        self.kanji = kanji
        self.yomi = yomi
        self.age = age

person = [Person('河西', 'かさい',17),
          Person('綾瀬', 'あやせ', 21),
          Person('山田', 'やまだ', 20),
          Person('井上', 'いのうえ', 16),]

print('未成年')
for p in person:
    if p.age < 18:
        print(p.kanji, p.yomi, p.age)

未成年
河西 かさい 17
井上 いのうえ 16

In [ ]:
class Person:
    def __init__(self, kanji, yomi, age):
        self.kanji = kanji
        self.yomi = yomi
        self.age = age

    def disp(self):
        print(self.kanji, self.yomi, self.age)

    def check(self, key):
        if key <= self.yomi <= chr(ord(key) + ord('か') - ord('あ')):
            return True
        else:
            return False

person = [Person('河西', 'かさい',17),
          Person('綾瀬', 'あやせ', 21),
          Person('山田', 'やまだ', 20),
          Person('井上', 'いのうえ', 16),]

for p in person:
    if p.check('あ'):
        p.disp()

綾瀬 あやせ 21
井上 いのうえ 16

In [ ]:
class Person:
    def __init__(self, kanji, yomi, age):
        self.kanji = kanji
        self.yomi = yomi
        self.age = age

class Persons:
    def __init__(self,persons):
        self.persons = persons

    def sort(self):
        a = self.persons
        for i in range(len(a) -1, 0, -1):
            for j in range(0, i):
                if a[j].yomi >a[j + 1].yomi:
                    a[j], a[j+1] = a[j + 1], a[j]

person = [Person('河西', 'かさい',17),
          Person('綾瀬', 'あやせ', 21),
          Person('山田', 'やまだ', 20),
          Person('井上', 'いのうえ', 16),]

persons = Persons(person)
persons.sort()
for p in person:
    print(p.kanji, p.yomi, p.age)

綾瀬 あやせ 21
井上 いのうえ 16
河西 かさい 17
山田 やまだ 20